@use "sass:color";
@use "colors";

@mixin theme--dark {
  --theme-bg: #{colors.$clr-neutral-800};
  --theme-clr: #{colors.$clr-neutral-100};

  // toggle
  --theme-toggle-bg: linear-gradient(
    135deg,
    #{colors.$clr-neutral-300},
    #{colors.$clr-neutral-300}
  );
  --theme-toggle-clr: #{colors.$clr-neutral-600};
  --theme-toggle-focus: #{colors.$clr-accent-300};
  --theme-toggle-label: #{colors.$clr-neutral-400};
}

.theme--dark {
  @include theme--dark;
  color-scheme: only dark;
}
